:root {
  --lol-gold: #c8aa6e;
  --lol-blue: #0a1428;
  --card-bg: #1e2328;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background: var(--lol-blue);
  font-family: "Beaufort for LOL", sans-serif;
}
